---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact" dataWfPage="6616b93748336308251c4c8b" dataWfSite="660d68a95235b3be5341f854">
  <section class="hero-heading-left">
    <div class="container-10">
      <div class="hero-wrapper-3">
        <div class="hero-split-3">
          <h1>Lets get Started</h1>
          <p class="margin-bottom-24px-5">Dream Decor by Kiran is your gateway to inspiration. Let’s turn dreams into reality.</p>
        </div>
        <div class="hero-split-3">
          <img
            src="images/y0uiqctxtnvpqe38vnit-Custom.jpg"
            loading="lazy"
            sizes="(max-width: 479px) 94vw, (max-width: 767px) 95vw, (max-width: 991px) 92vw, 43vw"
            srcset="images/y0uiqctxtnvpqe38vnit-Custom-p-500.jpg 500w, images/y0uiqctxtnvpqe38vnit-Custom-p-800.jpg 800w, images/y0uiqctxtnvpqe38vnit-Custom-p-1080.jpg 1080w, images/y0uiqctxtnvpqe38vnit-Custom-p-1600.jpg 1600w, images/y0uiqctxtnvpqe38vnit-Custom-p-2000.jpg 2000w, images/y0uiqctxtnvpqe38vnit-Custom-p-2600.jpg 2600w, images/y0uiqctxtnvpqe38vnit-Custom-p-3200.jpg 3200w, images/y0uiqctxtnvpqe38vnit-Custom.jpg 5157w"
            alt=""
            class="shadow-two-3"
          />
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="w-layout-blockcontainer container-14 w-container"></div>
    <div class="w-layout-blockcontainer container-11 w-container">
      <div class="w-form">
        <form id="email-form" name="email-form" data-name="Email Form" method="get" class="form" data-wf-page-id="6616b93748336308251c4c8b" data-wf-element-id="0bf8ddef-c083-e828-275f-98a99a6e2669">
          <div class="w-layout-blockcontainer container-12 w-container">
            <div id="w-node-_865732d6-1104-b501-64be-41ee461d46af-251c4c8b" class="w-layout-blockcontainer input-div w-container">
              <label for="name">Name *</label><input class="w-input" autofocus="true" maxlength="256" name="name" data-name="Name" placeholder="" type="text" id="name" required="" />
            </div>
            <div class="w-layout-blockcontainer input-div w-container"><label for="Contact-Info">Email / Phone Number *</label><input class="w-input" maxlength="256" name="Contact-Info" data-name="Contact Info" placeholder="" type="text" id="Contact-Info" required="" /></div>
            <div class="w-layout-blockcontainer input-div w-container"><label for="Event-Type">Event Type</label><input class="w-input" maxlength="256" name="Event-Type" data-name="Event Type" placeholder="" type="text" id="Event-Type" /></div>
            <div class="w-layout-blockcontainer input-div w-container"><label for="Date-of-Event">Date of Event</label><input class="w-input" maxlength="256" name="Date-of-Event" data-name="Date of Event" placeholder="" type="text" id="Date-of-Event" /></div>
            <div class="w-layout-blockcontainer input-div w-container"><label for="Venue-Name">Venue Name</label><input class="w-input" maxlength="256" name="Venue-Name" data-name="Venue Name" placeholder="" type="text" id="Venue-Name" /></div>
            <div class="w-layout-blockcontainer input-div w-container"><label for="Number-of-Guests">Number of Guests</label><input class="w-input" maxlength="256" name="Number-of-Guests" data-name="Number of Guests" placeholder="" type="text" id="Number-of-Guests" /></div>
            <div class="w-layout-blockcontainer input-div w-container">
              <label for="name-2">Interested Services</label>
              <div class="w-layout-blockcontainer container-13 w-container">
                <label class="w-checkbox"><input type="checkbox" id="checkbox-2" name="checkbox-2" data-name="Checkbox 2" class="w-checkbox-input" /><span class="w-form-label">Wedding Coordination</span></label><label class="w-checkbox"
                  ><input type="checkbox" id="checkbox" name="checkbox" data-name="Checkbox" class="w-checkbox-input" /><span class="w-form-label">DJ</span></label
                ><label class="w-checkbox"><input type="checkbox" id="checkbox-3" name="checkbox-3" data-name="Checkbox 3" class="w-checkbox-input" /><span class="w-form-label">360 Booth</span></label>
              </div>
            </div>
          </div><textarea placeholder="Leave us an message" maxlength="5000" id="Message" name="Message" data-name="Message" class="textarea w-input"></textarea><input
            type="submit"
            data-wait="Please wait..."
            id="w-node-_0bf8ddef-c083-e828-275f-98a99a6e2670-251c4c8b"
            class="primarybutton w-button"
            value="Submit"
          />
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </section>
</Layout>
