---
import Layout from "../layouts/Layout.astro";
---

<Layout dataWfSite="660d68a95235b3be5341f854" dataWfPage="660d68a95235b3be5341f85c" title="DreamDecorByKiran">
  <div class="w-layout-blockcontainer container-2 w-container">
    <img
      src="images/maihrvvd3go9clupnfge.jpg"
      loading="lazy"
      sizes="(max-width: 479px) 96vw, (max-width: 767px) 97vw, (max-width: 991px) 708px, 920px"
      srcset="images/maihrvvd3go9clupnfge-p-500.jpg 500w, images/maihrvvd3go9clupnfge-p-800.jpg 800w, images/maihrvvd3go9clupnfge.jpg 1024w"
      alt=""
      class="image-3"
    />
    <div class="w-layout-blockcontainer container-8 w-container">
      <h1 data-w-id="b3a2e005-7d37-9400-6176-961a096d80ed" class="heading-6">Your Dream</h1>
      <h1 data-w-id="0a61dc5e-d285-fd72-56d4-81305dfd3c26" class="heading-5">Our Decor</h1>
    </div>
  </div>
  <section class="about-us">
    <div class="w-layout-blockcontainer container-4 w-container"></div>
    <div class="container-3">
      <div class="hero-wrapper">
        <div class="hero-split">
          <img
            src="images/74205013-Custom-Custom.jpg"
            loading="lazy"
            data-w-id="de291054-e020-46cc-f590-351c0554e359"
            sizes="(max-width: 479px) 94vw, (max-width: 767px) 95vw, (max-width: 991px) 92vw, 47vw"
            alt=""
            srcset="images/74205013-Custom-Custom-p-500.jpg 500w, images/74205013-Custom-Custom-p-800.jpg 800w, images/74205013-Custom-Custom-p-1080.jpg 1080w, images/74205013-Custom-Custom-p-1600.jpg 1600w, images/74205013-Custom-Custom-p-2000.jpg 2000w, images/74205013-Custom-Custom-p-2600.jpg 2600w, images/74205013-Custom-Custom-p-3200.jpg 3200w, images/74205013-Custom-Custom.jpg 4959w"
            class="shadow-two"
          />
        </div>
        <div data-w-id="de291054-e020-46cc-f590-351c0554e35a" class="hero-split">
          <h1 class="heading-2">About us</h1>
          <p class="margin-bottom-24px">
            Dream Decor by Kiran is here to help fill color in your new memories. Let us make your memories more brighter with extensive selection of fabrics and colors to choose from for your own unique backdrop, table cloths, chair covers, sashes, runners, and napkins. Selection ranging from
            polyester, satin, sheer, organza, and taffeta.We have the material to design a picture perfect setting for your head table or stage. We can also add crystals, pearls, hanging globes, chandeliers and so much more to make your event the one you always dreamed of. Sparkle your event with
            variety of our centerpieces. We put our final touches with lighting treatment of up lights or minitwinkle lights.  Allow us to help your event sparkle with Dream Décor by Kiran.
          </p>
          <a href="#" class="primarybutton w-button">Book Now</a>
        </div>
      </div>
    </div><img src="images/decorative-line-separator.png" loading="lazy" alt="" class="image-2" />
  </section>
  <section class="services">
    <div class="div-block">
      <h1 class="centered-heading">More than just decor.</h1>
      <p class="centered-subheading">At Dream Decor by Kiran, we orchestrate more than just decor; we curate experiences.</p>
      <div
        data-delay="4000"
        data-animation="slide"
        class="services-slider-wrapper w-slider"
        data-autoplay="false"
        data-easing="ease"
        style="opacity:0"
        data-hide-arrows="false"
        data-disable-swipe="false"
        data-w-id="dc06b5ef-8d35-9614-2eae-8dcd4fa01757"
        data-autoplay-limit="0"
        data-nav-spacing="12"
        data-duration="500"
        data-infinite="true">
        <div class="w-slider-mask">
          <div class="services-slide-wrapper w-slide">
            <div class="services-block">
              <img
                src="images/74205650-Custom.jpg"
                loading="lazy"
                width="Auto"
                height="Auto"
                alt=""
                srcset="images/74205650-Custom-p-500.jpg 500w, images/74205650-Custom-p-800.jpg 800w, images/74205650-Custom-p-1080.jpg 1080w, images/74205650-Custom-p-1600.jpg 1600w, images/74205650-Custom-p-2000.jpg 2000w, images/74205650-Custom-p-2600.jpg 2600w, images/74205650-Custom-p-3200.jpg 3200w, images/74205650-Custom.jpg 3290w"
                sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 44vw, 400px"
                class="service-image"
              />
              <div class="service-block-info">
                <h3 class="service-name">DJ</h3>
                <a href="/contact" class="contact-link-arrow w-inline-block">
                  <div>Contact To Learn More</div>
                  <div class="arrow-embed w-embed">
                    <svg width="20" height="20"  fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M11.72 15L16.3472 10.357C16.7732 9.92932 16.7732 9.23603 16.3472 8.80962L11.72 4.16667L10.1776 5.71508L12.9425 8.4889H4.16669V10.6774H12.9425L10.1776 13.4522L11.72 15Z" fill="currentColor"></path>
                    </svg>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="services-slide-wrapper w-slide">
            <div class="services-block">
              <img src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124af1aa12aadf_placeholder%201.svg" loading="lazy" alt="" class="service-image" />
              <div class="service-block-info">
                <h3 class="service-name">Wedding Coordination</h3>
                <a href="/contact" class="contact-link-arrow w-inline-block">
                  <div>Contact To Learn More</div>
                  <div class="arrow-embed w-embed">
                    <svg width="20" height="20"  fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M11.72 15L16.3472 10.357C16.7732 9.92932 16.7732 9.23603 16.3472 8.80962L11.72 4.16667L10.1776 5.71508L12.9425 8.4889H4.16669V10.6774H12.9425L10.1776 13.4522L11.72 15Z" fill="currentColor"></path>
                    </svg>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="services-slide-wrapper w-slide">
            <div class="services-block">
              <img
                src="images/360-photo.jpg"
                loading="lazy"
                sizes="(max-width: 479px) 94vw, (max-width: 767px) 45vw, (max-width: 991px) 44vw, 400px"
                srcset="images/360-photo-p-500.jpg 500w, images/360-photo-p-800.jpg 800w, images/360-photo-p-1080.jpg 1080w, images/360-photo-p-1600.jpg 1600w, images/360-photo.jpg 2000w"
                alt=""
                class="service-image"
              />
              <div class="service-block-info">
                <h3 class="service-name">360 Booth</h3>
                <a href="/contact" class="contact-link-arrow w-inline-block">
                  <div>Contact To Learn More</div>
                  <div class="arrow-embed w-embed">
                    <svg width="20" height="20"  fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M11.72 15L16.3472 10.357C16.7732 9.92932 16.7732 9.23603 16.3472 8.80962L11.72 4.16667L10.1776 5.71508L12.9425 8.4889H4.16669V10.6774H12.9425L10.1776 13.4522L11.72 15Z" fill="currentColor"></path>
                    </svg>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="text-block">Not Sure if we suit your needs? Contact us any way and we will try to best suit your needs.</div>
        <div class="services-slider-arrow w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="services-slider-arrow w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="services-slider-nav w-slider-nav w-slider-nav-invert w-round"></div>
      </div>
    </div>
  </section>
  <section class="testimonial-stack">
    <img
      src="images/axxsvcsn1xyaw05graiv-Custom.jpg"
      loading="lazy"
      sizes="100vw"
      srcset="images/axxsvcsn1xyaw05graiv-Custom-p-500.jpg 500w, images/axxsvcsn1xyaw05graiv-Custom-p-800.jpg 800w, images/axxsvcsn1xyaw05graiv-Custom-p-1080.jpg 1080w, images/axxsvcsn1xyaw05graiv-Custom-p-1600.jpg 1600w, images/axxsvcsn1xyaw05graiv-Custom-p-2000.jpg 2000w, images/axxsvcsn1xyaw05graiv-Custom-p-2600.jpg 2600w, images/axxsvcsn1xyaw05graiv-Custom-p-3200.jpg 3200w, images/axxsvcsn1xyaw05graiv-Custom.jpg 4920w"
      alt=""
      class="image-4"
    />
    <div class="container-5">
      <div
        data-delay="4000"
        data-animation="outin"
        class="slider w-slider"
        data-autoplay="false"
        data-easing="ease"
        data-hide-arrows="true"
        data-disable-swipe="false"
        data-w-id="1e2db696-6817-b3a0-de0a-7a39a8e0cca9"
        data-autoplay-limit="0"
        data-nav-spacing="3"
        data-duration="500"
        data-infinite="true">
        <div class="mask w-slider-mask">
          <div class="slide w-slide">
            <div class="testimonial-card-three">
              <div class="testimonial-card-content">
                <h1 class="testimonial-card-heading">Amazing Experience</h1>
                <p>
                  Kiran is just sooooo amazing to work with! She is creative and she works very hard to make sure your vision comes to life! Dream decor did all of our events and each event was unique and beautiful because of this amazing crew! Just an amazing experience with dream decor team! Dream
                  Team ♥️
                </p>
                <div class="testimonial-info-four">
                  <div class="div-block-2">
                    <h5 class="testimonial-author-name-three">-Sukhu R</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slide w-slide">
            <div class="testimonial-card-three">
              <div class="testimonial-card-content">
                <h1 class="testimonial-card-heading">Super Sweet and Friendly</h1>
                <p>Kiran was amazing! She decorated for our wedding and reception. She and her staff were efficient and organized. She was easy to work with and helpful with suggestions, super sweet and friendly too. I would recommend her to anyone looking for a reliable and creative decorator!</p>
                <div class="testimonial-info-four">
                  <div class="div-block-2">
                    <h5 class="testimonial-author-name-three">-Kalyani Sonarikar</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slide w-slide">
            <div class="testimonial-card-three">
              <div class="testimonial-card-content">
                <h1 class="testimonial-card-heading">Above and Beyond</h1>
                <p>
                  Kiran was such a pleasure to work with. She was very clear about all aspects of her work, provided useful decor advice, and was familiar with the venues we used. She went above and beyond to help out and worked around our schedule. I would highly recommend her to any future bride!
                </p>
                <div class="testimonial-info-four">
                  <div class="div-block-2">
                    <h5 class="testimonial-author-name-three">-Navkiran Gill</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slide w-slide">
            <div class="testimonial-card-three">
              <div class="testimonial-card-content">
                <h1 class="testimonial-card-heading">Vision to Life</h1>
                <p>
                  Kiran made the stressful process of decor planning SO EASY! She is so fun to work with and was flexible with what we wanted. She bought our vision to life - it was gorgeous! Thank you so much Kiran and team for making our wedding unforgettable ❤️ I always recommend Dream Decor by
                  Kiran to everyone!
                </p>
                <div class="testimonial-info-four">
                  <div class="div-block-2">
                    <h5 class="testimonial-author-name-three">-Anam Beg</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slide w-slide">
            <div class="testimonial-card-three">
              <div class="testimonial-card-content">
                <h1 class="testimonial-card-heading">Day of Coordinator</h1>
                <p>I used Kiran for my wedding and reception as a day of coordinator. Honestly, she was amazing! She took so much stress off my shoulders for both days and I really appreciated it! I definitely recommend her.</p>
                <div class="testimonial-info-four">
                  <div class="div-block-2">
                    <h5 class="testimonial-author-name-three">-Pavneet Dhillon</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slide w-slide">
            <div class="testimonial-card-three">
              <div class="testimonial-card-content">
                <h1 class="testimonial-card-heading">Absolutely Amazing</h1>
                <p>We had such a great experience with Kiran! All of the decorations turned out absolutely amazing, I would definitely recommend using her services for your wedding!</p>
                <div class="testimonial-info-four">
                  <div class="div-block-2">
                    <h5 class="testimonial-author-name-three">-Marica Potkonjak</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="slide-nav w-slider-nav"></div>
      </div>
    </div>
  </section>
  <section class="get-started">
    <div data-w-id="9627a96f-02d4-3373-bf5e-c14dd3f4b2b4" style="opacity:0" class="container-7">
      <div class="hero-wrapper-two">
        <h1 class="heading-4">Let us decor your dream</h1>
        <p class="margin-bottom-24px-3">From elegant weddings to vibrant birthday parties, we specialize in transforming your events into unforgettable experiences. Let us weave magic into every detail of your celebration.</p>
        <a href="/contact" class="primarybutton w-button">Get Started</a>
      </div>
    </div>
  </section>
  <section class="explore-more">
    <div class="container-6">
      <div class="hero-wrapper-2">
        <div class="hero-split-2">
          <img
            src="images/74101307-Custom-Custom.jpg"
            loading="lazy"
            sizes="(max-width: 479px) 92vw, (max-width: 767px) 94vw, (max-width: 991px) 91vw, 43vw"
            srcset="images/74101307-Custom-Custom-p-500.jpg 500w, images/74101307-Custom-Custom-p-800.jpg 800w, images/74101307-Custom-Custom-p-1080.jpg 1080w, images/74101307-Custom-Custom-p-1600.jpg 1600w, images/74101307-Custom-Custom-p-2000.jpg 2000w, images/74101307-Custom-Custom-p-2600.jpg 2600w, images/74101307-Custom-Custom-p-3200.jpg 3200w, images/74101307-Custom-Custom.jpg 4109w"
            alt=""
            class="shadow-two-2"
          />
        </div>
        <div class="hero-split-2">
          <h2 class="heading-3">Explore More</h2>
          <div id="w-node-_4d2b2d95-764f-c9ca-e3e8-fb7910c18e64-5341f85c" class="w-layout-layout quick-stack wf-layout-layout">
            <div id="w-node-_4d2b2d95-764f-c9ca-e3e8-fb7910c18e65-5341f85c" class="w-layout-cell cell">
              <img
                src="images/74204259-Custom-Custom.jpg"
                loading="lazy"
                sizes="(max-width: 479px) 92vw, (max-width: 767px) 94vw, (max-width: 991px) 91vw, 43vw"
                srcset="images/74204259-Custom-Custom-p-500.jpg 500w, images/74204259-Custom-Custom-p-800.jpg 800w, images/74204259-Custom-Custom-p-1080.jpg 1080w, images/74204259-Custom-Custom-p-1600.jpg 1600w, images/74204259-Custom-Custom-p-2000.jpg 2000w, images/74204259-Custom-Custom-p-2600.jpg 2600w, images/74204259-Custom-Custom-p-3200.jpg 3200w, images/74204259-Custom-Custom.jpg 4133w"
                alt=""
                class="image-5"
              />
              <div class="w-dyn-list">
                <div role="list" class="w-dyn-items">
                  <div role="listitem" class="w-dyn-item">
                    <a href="/gallery/jaggo" class="textbutton w-button">Gallery</a>
                  </div>
                </div>
              </div>
            </div>
            <div id="w-node-_46b4c59c-bae3-4171-fd9c-589f104c0216-5341f85c" class="w-layout-cell cell-3">
              <img src="images/336580366_137440855938645_6966095466362160425_n.jpg" loading="lazy" alt="" class="image-5" />
              <a href="/aboutme" class="textbutton w-button">About me</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
