---
import HomeSectionLayout from "../layouts/HomeSectionLayout.astro";
import { Image } from "astro:assets";
import FacebookLogo from "../images/facebook-logo.svg"
import InstagramLogo from "../images/instagram-logo.jpg"

---
<HomeSectionLayout backgroundColor="whitesmoke" sectionTitle="Let's Get In Touch">
    <div id="main">
        <div id="contact-info">
            <h2>Email Address</h2>
            <a href = "mailto: dreamdecorbykiran.gmail.com">dreamdecorbykiran.gmail.com</a>

            <br>
            <br>

            <h2>Phone Number</h2>
            <a href="tel:+1 (414) 306-2111">(414) 306-2111</a>

            <br>
            <br>

            <div id="social-media">
                <a target="_blank" href="https://www.facebook.com/dreamdecorbykiran/">
                    <Image src={FacebookLogo} alt="Facebook Logo"/>
                </a>
                <a target="_blank" href="https://www.instagram.com/dreamdecorbykiran/?hl=en">
                    <Image src={InstagramLogo} alt="Instagram Logo"/>
                </a>
            </div>
        </div>

        <form name="Contact-Form" netlify>
            <div class="form-input">
                <label for="name-input">Name *</label>
                <input required name="Name" id="name-input" type="text">
            </div>
            <div class="form-input">
                <label for="email-input">Email *</label>
                <input required name="Email" id="email-input" type="text">
            </div>
            <div class="form-input">
                <label for="eventtype-input">Event Type</label>
                <input name="Event Type" id="eventtype-input" type="text">
            </div>
            <div class="form-input">
                <label for="date-input">Event Date</label>
                <input name="Event Date" id="date-input" type="date">
            </div>
            <div class="form-input">
                <label for="venue-input">Venue Name</label>
                <input name="Venue Name" id="venue-input" type="text">
            </div>
            <div class="form-input">
                <label for="number-of-guest-input">Number Of Guests</label>
                <input name="Number Of Guests" id="number-of-guest-input" type="number">
            </div>
            <div style="grid-column: 1 / span 2;" class="form-input">
                <label for="message-input">Message</label>
                <textarea name="message" id="message-input"></textarea>
            </div>
            <button class="primary-button" type="submit">Submit</button>
        </form>
    </div>
</HomeSectionLayout>

<style>
    #main{
        display: flex;
        justify-content: center;
    }

    #social-media {
    display: flex;
    align-items: center;
    }

    #social-media > a {
        height: 30px;
        width: 30px;
        margin-right: 1rem;
    }
    #social-media > a > img{
        width: 100%;
        height: 100%;
    }

    form{
        margin: 0px 10rem;
        display: grid;
        column-gap: 2rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
    .form-input{
        display: flex;
        flex-direction: column;
    }
    .form-input > label{
        font-size: 1.2rem;
    }
    .form-input > input{
        font-size: 1.5rem;
        padding: 0.7rem 0.5rem;
        border: 1px solid rgba(0, 0, 0, 0.219);
    }
    #message-input{
        font-size: 1.1rem;
        height: 5rem;
        resize: none;
        border: 1px solid rgba(0, 0, 0, 0.219);
    }
    #contact-info > h2{
        margin: 0;

    }
    @media screen and (max-width: 500px) {
        #main{
            display: block;
        }
        form{
            display: block;
            margin: 20px 0;
        }
        .form-input{
            margin: 10px 0;
        }
    }
</style>