---
import HomeSectionLayout from "../layouts/HomeSectionLayout.astro";


---
<HomeSectionLayout sectionTitle="More Than Just Decor">
    <div id="main">
        <div id="text">
            <h2>Wedding coordination, DJ, and More!</h2>
            <p>At DreamDecor by Kiran, we orchestrate more than just decor; we curate experiences. Our services are the harmonious notes that transform events into symphonies of joy. 
                Whether it's the pulsating beats of a DJ, the immersive magic of a 360-degree photo booth, 
                or the seamless coordination of a wedding, we blend creativity with precision. Our team is dedicated to ensuring that every celebration—big or small—becomes a cherished memory.
                Let us be the architects of your extraordinary moments.
            </p>
            <br>
            <a href="#" class="primary-button">
                Learn More
            </a>
        </div>
        <div id="images">
            <img src="images/2X9A4362.jpg" alt="">
            <img src="images/74204259.jpg" alt="">
            <img src="images/74204909.jpg" alt="">
        </div>
    </div>
</HomeSectionLayout>

<style>
    #main{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1500px;
        margin: 0 auto;
        margin-top: 50px;
    }
    #text{
        max-width: 600px;
    }
   
    #images{
        display: flex;
        flex-direction: column;
        align-items: end;
        width: 100%;
    }
    img{
        width: 100%;
        max-width: 400px;
        aspect-ratio: 16/9;
        scale: 1.2;
        object-fit: cover;
        border: 5px solid white;
    }
    img:nth-child(1){
    rotate: 3deg;
    }
    img:nth-child(2){
        rotate: -10deg;
    }
    img:nth-child(3){
        rotate: 1deg;
    }
    h2{
        font-size: 3rem;
        margin: 0;
    }
    @media screen and (max-width: 500px) {
        h2{
            font-size: 2rem;
        }
        #main{
            flex-direction: column;
            overflow: hidden;
        }
        #images{
            margin: 80px 0;
            flex-direction: row;
        }
        img{
            scale: 2;
            border-width: 2px;
        }
    }
</style>