---
interface Props {
    sectionTitle : string;
}
const {sectionTitle } = Astro.props
---
<div class="home-section">
    <h1>{sectionTitle}</h1>
    <slot />
</div>

<style>
    .home-section{
        padding: 20px;
    }
    h1{
        font-size: 3rem;
        text-align: center;
    }
</style>